@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');
@import "style/consts.scss";
@import "style/root.scss";

body {
    font-family: 'Poppins', sans-serif;
    // font-size: 0.9rem;
}

.header {
    height: $header-height;
    display: flex;
    align-items: center;
}

.left {
    width: $left-width;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid $light-bg-border-color;
    background-color: $light;

    .header {
        font-size: 0.9rem;
        background: $primary;
        padding: 15px;
        justify-content: center;
        box-shadow: $shadow-lg;
        margin-right: -1px;

        svg {
            fill: $dark-bg-font-color;
            margin-right: 0.5rem;
        }

        color: $dark-bg-font-color;

    }
}

.main {
    background: $light;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}


.center {
    // background: $light;
    position: fixed;
    // margin-left: $left-width;
    left: $left-width;
    right: 0;
    top: 0;
    bottom: 0;
    flex-grow: 1;
    border-right: 1px solid $light-bg-border-color;

    .header {
        border-bottom: 1px solid $light-bg-border-color;
    }
}

.right {

    // z-index: 1;
    &.open {
        width: 60%;
        box-shadow: $shadow-lg;
    }

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid $light-bg-border-color;
    background: #fff;

    .header {
        border-bottom: 1px solid $light-bg-border-color;

        .close {
            margin-left: auto;
            margin-right: 30px;

            .icon {
                fill: $light-bg-font-color-gray;
                stroke: none;
            }
        }
    }
}

.right-notification {
    width: 30%;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

.right-notification~.center {
    right: 30%;
}

.right.open~.center {
    right: 60%;
    border-right: none;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.absolute,
.fixed {
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

/*
==============================================
Navigation
==============================================
*/
.nav-list {
    margin-top: 40px;
    font-size: 0.9rem;
}

.nav-item {
    padding: 5px 20px 5px 40px;
    display: block;
    color: $light-bg-font-color-medium;
    position: relative;

    span {
        display: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: $info;
    }

    &.active {
        color: $light-bg-font-color-dark;

        span {
            display: block;
        }
    }
}

/*
==============================================
Email List
==============================================
*/
.email-list {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: $header-height;
}

.email-list-item {
    position: relative;
    display: block;
    padding: 30px 30px 30px 60px;
    border-bottom: 1px solid $light-bg-border-color;

    &.selected {
        box-shadow: $shadow-lg-right;
        background: #fff;
        margin-right: -1px;
    }

    &.isRead {
        .sender::before {
            content: '';
            position: absolute;
            height: 8px;
            width: 8px;
            background: $primary;
            border-radius: 50%;
            left: -20px;
            top: 50%;
            margin-top: -4px;
        }
    }

    .ts {
        color: $light-bg-font-color-light;
        margin-left: auto;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .sender {
        display: flex;
        color: $light-bg-font-color-dark;
        position: relative;
    }

    .subject {
        font-size: 0.85rem;
        color: $light-bg-font-color-gray;
    }

    .body {
        color: $light-bg-font-color-medium;
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }


}