/*
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
    // font-family: $font-family-base;
    // color: $primary;
    font-weight: 400;
    min-width: 320px;
    letter-spacing: .6px !important;
    font-size: 16px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* Links
 ========================================================================== */

/*
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    -webkit-text-decoration-skip: objects;
}

/*
  * Remove the outline on focused links when they are also active or hovered
  */

a:active,
a:hover {
    outline: none;
}

a,
a:any-link {
    text-decoration: none;
    // color: unset;
}


/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

b {
    // font-family: $font-family-semi-bold;
}

/* Embedded content
 ========================================================================== */

/*
 * Remove the gap between embedded content and the bottom of their containers.
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Icons
*/
.icon {
    stroke: $primary;
    height: 1rem;
    width: 1rem;
}

.x16 {
    height: 1rem;
    width: 1rem;
}

.x20 {
    height: 1.25rem;
    width: 1.25rem;
}

.x24 {
    height: 1.5rem;
    width: 1.5rem;
}

.x32 {
    height: 2rem;
    width: 2rem;
}

.x48 {
    height: 3rem;
    width: 3rem;
}

.x64 {
    height: 4rem;
    width: 4rem;
}